@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Profile>;
@inject UserManager<IdentityUser> UserManager
@{ Profile me = await UserManager.GetUserAsync(User) as Profile; }

<style>
    .gap {
        gap: 1rem;
    }

    input[type=text] {
        border: 0;
        background-color: transparent;
        outline: 0 !important;
        font-size: 14px;
    }

    .settingsbtn:hover {
        text-decoration: none;
    }
</style>

<div class="gap d-flex gap day_color_font" style="font-family: Poppins, sans-serif;">
    <partial name="SideBar" />

    <div style="width: 57%;" class="d-flex flex-column rounded">
        <div class="day_back_default d-flex align-items-center p-3" style="background-color: #e8e8e8;">
            <i class="fas fa-search text-muted" style="font-size: 14px;"></i>
            <input type="text" placeholder="Enter name" style="width: 100%;" />
        </div>
        <div class="day_back_head">
            @foreach (var item in Model)
            {
                if (item.Id != me.Id)
                {
                    <partial name="PreviewProfile" model="item" />
                    <hr class="m-0" />
                }
            }
        </div>
    </div>
    <partial name="FriendSidebar"/>
</div>

