
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Game;
<style>
    .btnback {
        background-color: transparent;
        text-decoration: none;
        color: transparent;
        width: 100vw;
        height: 5vh;
        z-index: 600;
        top: 0;
        left: 0;
        font-family: Poppins, sans-serif;
    }
    .btnback p {
        filter: opacity(0%);
    }
    .btnback:hover {
        color: white;
        text-decoration: none;
    }
        .btnback:hover p {
            filter: opacity(100%);
        }
</style>
<iframe src="@Model.GameUrl" class="position-absolute border-0" style="width: 100%; height: 100vh; left: 0; top: 0px; z-index:500; object-fit: none;">
</iframe>
<a asp-action="Index" asp-controller="Game" class="position-absolute btnback d-flex justify-content-center align-items-center" style="">
    <p class="m-0 text-light">Back to games</p>
</a>