@{
    ViewData["Title"] = "Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Targetcom.Models.ViewModels.SongVM;

<style>
    #summernote {
        font-size: 14px;
        outline: 0 !important;
        border: 0;
    }

    .activel {
        border-left: 3px solid #0094ff;
    }
    
</style>
<div class="gap d-flex gap day_color_font" style="font-family: Poppins, sans-serif;">
    <partial name="SideBar" />

    

</div>