@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<style>
    .gap {
        gap: 1rem;
    }
</style>
<div style="font-family: Poppins, sans-serif;">
    <div class="border-0 day_back_head overflow-hidden rounded p-4">
        <h4 class="text-center">@ViewData["Title"]</h4>
        <hr />
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Input.OldPassword"></label>*@
                <input asp-for="Input.OldPassword" placeholder="Enter old password" class="form-control day_back_default day_color_font border-0" style="font-size: 14px;"/>
                <span asp-validation-for="Input.OldPassword" class="text-danger" style="font-size: 14px;"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Input.NewPassword"></label>*@
                <input asp-for="Input.NewPassword" placeholder="Enter new password" class="form-control day_back_default day_color_font border-0" style="font-size: 14px;"/>
                <span asp-validation-for="Input.NewPassword" class="text-danger" style="font-size: 14px;"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Input.ConfirmPassword"></label>*@
                <input asp-for="Input.ConfirmPassword"placeholder="Confirm new password" class="form-control day_back_default day_color_font border-0" style="font-size: 14px;"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="font-size: 14px;"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="font-size: 14px;">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}