@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<style>
    .gap {
        gap: 1rem;
    }
</style>
<div style="font-family: Poppins, sans-serif;">
    <div class="border-0 day_back_head overflow-hidden rounded p-4">
        <h4 class="text-center">@ViewData["Title"]</h4>
        <hr />
        <div class="alert alert-warning" role="alert">
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
        </div>
        <form id="delete-user" method="post" class="form-group d-flex flex-column">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.RequirePassword)
            {
                <div class="form-group">
                    <input asp-for="Input.Password" placeholder="Enter password" class="form-control" style="font-size: 14px;" />
                    <span asp-validation-for="Input.Password" class="text-danger" style="font-size: 14px;"></span>
                </div>
            }
            <button class="btn btn-danger " type="submit">Delete data and close my account</button>
        </form>
    </div>
</div>

@*<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Delete data and close my account</button>
    </form>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}