@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="d-flex" style="gap:1rem;">
    <partial name="SideBar" />
    <div style="font-family: Poppins, sans-serif; width: 80%">
        <div>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>

