@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed email";
}

<div style="font-family: Roboto, sans-serif;">
    <div class="border day_back_head rounded p-5" style="min-width: 35vw;">
        <h4 class="day_color_font text-center">Your successfull confirmed email!</h4>
    </div>
</div>