@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed email";
}

<div class="d-flex" style="gap:1rem;">
    <partial name="SideBar"/>
    <div style="font-family: Poppins, sans-serif; width: 80%">
        <div class="border day_back_head rounded p-5" style="min-width: 35vw;">
            <h4 class="day_color_font text-center">Your successfull confirmed email!</h4>
        </div>
    </div>
</div>