@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div style="font-family: Roboto, sans-serif;">
    <div class="border day_back_head rounded p-3" style="min-width: 35vw;">
        <h4 class="day_color_font text-center">Please check your email to reset your password.</h4>
    </div>
</div>

