@page
@model RegisterModel
@{
    ViewData["Title"] = "Create new user";
}
<style>
    .gap {
        gap:1rem;
    }
</style>
<div class="d-flex justify-content-center" style="font-family: Roboto, sans-serif;">
    <div class="border-0 day_back_head rounded p-4" style="min-width: 35vw;">
        <h4 class="day_color_font text-center">Registration</h4>
        <hr />
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="gap d-flex flex-column">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="gap" style="display:grid;">
                <div class="d-flex gap">
                    <div style="width: 50%">
                        @*<label asp-for="Input.Profile.Name"></label>*@
                        <input asp-for="Input.Profile.Name" placeholder="Enter Name" class="form-control day_back_default day_color_font border-0" style="font-size: 14px;" />
                        <span asp-validation-for="Input.Profile.Name" class="text-danger" style="font-size: 14px;"></span>
                    </div>
                    <div style="width: 50%">
                        @*<label asp-for="Input.Profile.Surname"></label>*@
                        <input asp-for="Input.Profile.Surname" placeholder="Enter Surname" class="form-control day_back_default day_color_font border-0" style="font-size: 14px;" />
                        <span asp-validation-for="Input.Profile.Surname" class="text-danger" style="font-size: 14px;"></span>
                    </div>

                </div>
                <div>
                    @*<label asp-for="Input.Profile.Surname"></label>*@
                    <select asp-for="Input.Profile.Gender" class="form-control day_back_default day_color_font border-0" style="font-size: 14px;">
                        <option disabled selected>Select Genger</option>
                        <option value="Female">Famale</option>
                        <option value="Male">Male</option>
                    </select>
                    <span asp-validation-for="Input.Profile.Gender" class="text-danger" style="font-size: 14px;"></span>
                </div>
                <div>
                    @*<label asp-for="Input.Profile.Surname"></label>*@
                    <input asp-for="Input.Profile.Age" placeholder="Enter date birtday" class="form-control day_back_default day_color_font border-0" style="font-size: 14px;" />
                    <span asp-validation-for="Input.Profile.Age" class="text-danger" style="font-size: 14px;"></span>
                </div>
                <div>
                    @*<label asp-for="Input.Email"></label>*@
                    <input asp-for="Input.Email" class="form-control day_back_default day_color_font border-0" placeholder="Enter email" style="font-size: 14px;" />
                    <span asp-validation-for="Input.Email" class="text-danger" style="font-size: 14px;"></span>
                </div>
                <div>
                    @*<label asp-for="Input.Password"></label>*@
                    <input asp-for="Input.Password" class="form-control day_back_default day_color_font border-0" placeholder="Enter password" style="font-size: 14px;" />
                    <span asp-validation-for="Input.Password" class="text-danger" style="font-size: 14px;"></span>
                </div>
                <div>
                    @*<label asp-for="Input.ConfirmPassword"></label>*@
                    <input asp-for="Input.ConfirmPassword" class="form-control day_back_default day_color_font border-0" placeholder="Confirm password" style="font-size: 14px;" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="font-size: 14px;"></span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button type="submit" class="btn day_back_main text-light pl-4 mr-4 pr-4" style="font-size: 14px;">Next</button>
                <p class="m-0">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="day_color_main" style="font-size: 14px;">Forgot password?</a>
                </p>
            </div>
        </form>
    </div>
</div>

@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
