@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="d-flex" style="gap:1rem;">
    <div style="font-family: Poppins, sans-serif;">
        <div>
            
        </div>
    </div>
</div>

<div style="font-family: Roboto, sans-serif;">
    <div class="border day_back_head rounded p-3" style="min-width: 35vw;">
        <p class="day_color_font text-center m-0">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
    </div>
</div>
