@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<style>
    .gap {
        gap: 1rem;
    }

    input[type=email], input[type=password] {
        font-size: 14px;
    }
</style>

<div class="d-flex justify-content-center" style="font-family: Roboto, sans-serif; height: 100%;">
    <div class="border day_back_head rounded p-5" style="min-width: 35vw;">
        <h4 class="day_color_font text-center">Recovery profile</h4>
        <p class="day_color_font text-center text-success">Enter you email, and checked link to reset password!</p>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                @*<label asp-for="Input.Email"></label>*@
                <input asp-for="Input.Email" placeholder="Enter email" class="form-control day_back_default day_color_font border-0" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Input.Password"></label>*@
                <input asp-for="Input.Password" placeholder="Enter new password" class="form-control day_back_default day_color_font border-0" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Input.ConfirmPassword"></label>*@
                <input asp-for="Input.ConfirmPassword" placeholder="Confirm password" class="form-control day_back_default day_color_font border-0" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn day_back_main text-light pl-4 mr-4 pr-4" style="font-size: 14px;">Reset</button>
        </form>
    </div>
</div>


@*<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
