

.day_color_head {
    color: #ffffff;
}
.day_back_head {
    background-color: #ffffff;
}
.day_color_default {
    color: #eeeeee;
}
.day_back_default {
    background-color: #eeeeee;
}

.day_color_main {
    color: #4f90db;
}
.day_back_main {
    background-color: #4f90db;
}

.day_color_mainlight {
    color: #6ba8ed;
}

.day_back_mainlight {
    background-color: #6ba8ed;
}

.day_color_font {
    color: #2a3036;
}



.dark .day_color_default {
    color: #222426;
}
.dark .day_back_default {
    background-color: #222426;
}
.dark .day_color_head {
    color: #181a1b;
}
.dark .day_back_head {
    background-color: #181a1b;
}
.dark .day_color_font {
    color: #d3d2d0;
}

.dark .day_color_default {
    color: #222426;
}

.dark.day_back_default {
    background-color: #222426;
}

.dark.day_color_head {
    color: #181a1b;
}

.dark.day_back_head {
    background-color: #181a1b;
}

.dark.day_color_font {
    color: #d3d2d0;
}